<style>
.one-half-column-left {
	width:30%;
	float:left;
  	margin-left: 20px;
}
  
.one-half-column-center {
	width: 33%;
 	float: left;
  	padding-left: 40px;
  	padding-right: -10px;
  }

.one-half-column-right {
	width:30%;
	float:right;
}
  
.one-half-column-left-dist {
	width:51%;
	float:left;
  	margin-left: 10px;
  	margin-right: -10px
}
  
.one-half-column-right-dist {
	width:48%;
	float:right;
  	margin-left: 80px;
  	margin-right: -140px;
}

@media only screen and (max-width: 600px) {
.one-half-column-left, .one-half-column-center, .one-half-column-right, 
.one-third-column, .one-third-column-last {
float:left;
clear: left;
width:100%;
margin-right:0;
padding-left:0;
}
}

</style>

<section class="section section--page page">
	<div class="container container--tiny">
		<div class="section__title section__title--center">
<!--             <h1 class="section__title-text h2">{{ page.title }}</h1> -->
        </div>

        <div class="page__content rte">
      		{{ page.content }}
    	</div>
	</div>
</section>